body {
    background-color: rgb(255, 255, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.link-button:hover {
    box-shadow: -3px -3px 6px #d7ff47d7, 4px 4px 7px #c74540bd;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
